*.o
/makefile.orig
/obj
/Bin/mcfm
/Bin/fferr.dat
/Bin/ffperm5.dat
/Bin/ffwarn.dat
/QCDLoop/ff/libff.a
/QCDLoop/ql/libqcdloop.a
/QCDLoop/test
/TensorReduction/ov/libov.a
/TensorReduction/pv/libpv.a
/TensorReduction/recur/libsmallF.a
/TensorReduction/recur/libsmallG.a
/TensorReduction/recur/libsmallP.a
/TensorReduction/recur/libsmallY.a
/Doc/*.aux
/Doc/*.dvi
/Doc/*.log
/Doc/*.out
/Doc/*.toc
/mcfm.dSYM
/QCDLoop/test.dSYM/

/Bin/mcfm_omp
/obj_omp
/QCDLoop/ff/libff_omp.a
/QCDLoop/ql/libqcdloop_omp.a
/TensorReduction/ov/libov_omp.a
/TensorReduction/pv/libpv_omp.a
/TensorReduction/recur/libsmallF_omp.a
/TensorReduction/recur/libsmallG_omp.a
/TensorReduction/recur/libsmallP_omp.a
/TensorReduction/recur/libsmallY_omp.a
